Django==5.2.13
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
dj-database-url==3.1.2
psycopg2-binary
gunicorn
django-cors-headers
cloudinary
django-cloudinary-storage
pillow
whitenoise
